<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Posts</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/drop-down.css">

</head>
<body>
<div th:replace="admin-navbar::admin-navbar"></div>
<div class="container">
    <br>
    <h2 style="text-align:left;color:dimgrey;" th:text="${user.name}+' Posts'"></h2>

    <div class="card">
        <div class="card-body" th:each="post : ${posts}">
            <a  th:href="@{'/post/'+${post.postId}}" th:text="${post.title}"></a>
            <a th:href="@{'/admin/posts/'+${post.createdAt}}" th:text="${#dates.format(post.createdAt, 'dd-MMM-yyyy')}"></a>
            <a th:href="@{'/admin/user-post/'+${post.postId}+'/delete-post'}"><i class="fa fa-trash"></i></a>
            <hr>
        </div>
    </div>
</div>
</body>
</html>