<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <!--Font awesome cdm link-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!--JQuery cdn - slim -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/drop-down.css">
</head>
<body>
<div th:replace="user-navbar::user-navbar"></div>
<div class="container">
    <div class="post-lists">
        <div class="card" th:each="post : ${posts}">
            <div class="card-body">
                <a th:href="@{'/post/'+${post.postId}}"><h5 class="card-title" th:text="${post.title}"></h5></a>
                <p class="card-text"
                   th:text="${#dates.format(post.createdAt, 'dd-MMM-yyyy')}"></p>
                <p th:if="${post.user.role == 'ROLE_USER'}" th:text="${post.user.name}"></p>
                <p th:if="${post.user.role == 'ROLE_ADMIN'}"  style="color:red;" th:text="${post.user.name}"></p>
                <a th:if="${post.user.userId} != ${loggedInUserId} and ${post.user.role} == 'ROLE_USER'" th:href="@{'/user/'+${post.user.userId}}+'/profile'">Check profile</a>
            </div>

            <div class=" row col-md-2" sec:authorize="isAuthenticated()">
                <div class="col-md-1">
                    <a th:href="@{'/post/edit-post/'+${post.postId}}" th:if="${loggedInUserId == post.user.userId}"><i
                            class="fa fa-edit"></i></a>
                </div>
                <div class="col-md-1">
                    <a th:href="@{'/post/delete-post/'+${post.postId}}" th:if="${loggedInUserId == post.user.userId}"><i
                            class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>