<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="@{/css/drop-down.css}">
</head>
<body>
<div th:fragment="user-navbar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" th:if="${role == 'ROLE_ADMIN'}" aria-current="page" href="/admin/">Home</a>
            <a class="nav-link active" th:if="${role != 'ROLE_ADMIN'}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/post/create-post" sec:authorize="isAuthenticated()">Create Post</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Login</a>
        </li>

            <li class="nav-item" style="float:right">
                <div class="dropdown" sec:authorize="isAuthenticated()">
                    <button class="dropbtn" sec:authentication="name"></button>
                    <div class="dropdown-content">
                        <a href="/logout">Logout</a>
                    </div>
                    <div class="dropdown-content" sec:authorize="isAuthenticated()">
                        <a th:href="@{'/user/'+${loggedInUserId}+'/profile'}"></a>
                    </div>
                </div>
            </li>
    </ul>
</div>
</body>
</html>