<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View-post-details</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="/css/post-details.css">
    <link rel="stylesheet" href="/css/drop-down.css">
</head>
<body>

<div th:replace="user-navbar::user-navbar"></div>

<div class="container">
    <!--post title-->
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <input hidden th:value="${post.postId}" id="post-id">
            <h5 class="card-title" th:text="${post.title}"></h5>
            <p class="card-text" th:text="${post.details}"></p>
        </div>
    </div>

    <!--   like and unlike with jQuery-->
    <div class="like-unlike">
        <button type="submit" id="btnLike"><i class="fas fa-thumbs-up"></i></button>
        <span id="like-count"></span>
        <br>
        <button type="submit" id="btnUnlike"><i class="fas fa-thumbs-down"></i></button>
        <span id="unlike-count"></span>
    </div>

    <div class="comment" style="margin-top: 3rem">

        <div class="row d-flex align-items-center">

            <div class="col-md-6 comments-section">
                <!--====COMMENT AREA START====-->
                <div class="row" sec:authorize="!isAuthenticated()">
                    <span class="alert alert-primary">Please login to comment in this post.</span>
                </div>
                <div class="row">
                    <div class="col-12" sec:authorize="isAuthenticated()">
                        <h2>Comments</h2>
                        <form class="comment-form" method="post" th:object="${comment}"
                              th:action="@{'/post/' +${post.postId}+ '/comments'}">
                            <textarea class="comment-area"
                                      name="user_comment"
                                      placeholder="Write your comment here"
                                      th:field="*{review}">
                            </textarea>
                            <button type="submit" class="btn  comment-btn">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:if="${post.comments.size()>0}">
            <div class="col-md-8">
                <h2 class="page-header">Comments</h2>
                <section class="comment-list">
                    <!-- Comment List -->
                    <article class="row" th:each="comment: ${post.comments}">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                                <img class="img-responsive" height="100px"
                                     src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png"/>
                                <figcaption class="text-center" th:text="${comment.user.name}"></figcaption>
                            </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <div class="comment-user"><i class="fa fa-user"></i><em
                                                th:text="${comment.user.email}"></em></div>
                                        <time class="comment-date" datetime=""><i
                                                th:text="${#calendars.format(comment.createdAt, 'dd/MMM/yyyy HH:mm aa')}"
                                                class="fa fa-clock-o"></i></time>
                                    </header>
                                    <div class="comment-post">
                                        <p th:text="${comment.review}"></p>
                                    </div>
                                    <div class="delete-btn" sec:authorize="isAuthenticated()">
                                        <form th:action="@{'/post/'+${post.postId}+'/'+${comment.commentId}+'/delete-comment'}"
                                              method="get">
                                            <button type="submit" th:if="${loggedInUserId == comment.user.userId or role=='ROLE_ADMIN'}">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
        <div class="row" th:if="${post.comments.size()==0}">
            <span class="alert alert-primary">No any comments found in this post</span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const postId = $("#post-id").val();

        getNumberOfLikeAndUnlikeInPost(postId);

        $("#btnUnlike").click(() => {
            processLikeUnlike(postId, -1);
        });

        $("#btnLike").click(() => {
            processLikeUnlike(postId, 1);
        });

    });

    async function getNumberOfLikeAndUnlikeInPost(postId) {
        const response = await axios.get('/post/like-unlike/' + postId);
        const data = response.data;
        $("#like-count").html(data.likeCount);
        $("#unlike-count").html(data.unlikeCount);

        if(data.userAction === 1) {
            $("#btnLike").css("background-color", "green");
            $("#btnUnlike").css("background-color", "");
        } if(data.userAction === -1) {
            $("#btnUnlike").css("background-color", "red");
            $("#btnLike").css("background-color", "");
        }
    }

    async function processLikeUnlike(postId, likeOrUnlike) {
        const {data} = await axios.post('/post/like-unlike/' + postId, {
            likeCount: likeOrUnlike
        });

        if(data.success){
            await getNumberOfLikeAndUnlikeInPost(postId);
        }else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: data.message,
                timer: 1500
            })
        }
    }
</script>
</body>
</html>